/* Estilos para o body */
body {
font-family: 'Helvetica Neue', sans-serif;
font-size: 16px;
line-height: 1.5;
color: #333;
}

/* Estilos para o header */
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo img {
max-height: 50px;
}

nav ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

nav li {
margin: 0 1rem;
}

nav a {
color: #333;
text-decoration: none;
font-weight: bold;
}

nav a:hover {
color: #aaa;
}

/* Estilos para a seção de destaque */
.imagem-destaque {
margin: 2rem 0;
display: flex;
justify-content: center;
align-items: center;
}

.imagem-destaque img {
max-width: 100%;
height: auto;
}

/* Estilos para a seção sobre */
.sobre {
padding: 2rem;
background-color: #f9f9f9;
text-align: center;
}

.sobre h2 {
margin-bottom: 1rem;
}

.sobre p {
margin-bottom: 0;
}

/* Estilos para a seção de serviços */
.servicos {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 2rem;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.servicos h2 {
width: 100%;
text-align: center;
margin-bottom: 2rem;
}

.servicos li {
list-style: none;
margin-bottom: 1rem;
}

/* Estilos para a seção de galeria */
.galeria {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 2rem;
background-color: #f9f9f9;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.galeria h2 {
width: 100%;
text-align: center;
margin-bottom: 2rem;
}

.galeria .imagem {
width: 30%;
margin-bottom: 2rem;
}

.galeria .imagem img {
width: 100%;
}

/* Estilos para o footer */
footer {
background-color: #333;
color: #ffff;
padding: 2rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.contato form {
display: flex;
flex-direction: column;
}

.contato label {
margin-bottom: 0.5rem;
}

.contato input,
.contato textarea {
padding: 0.5rem;
border-radius: 0.25rem;
border: none;
margin-bottom: 1rem;
}

.contato input[type="submit"] {
background-color: #fff;
color: #333;
font-weight: bold;
}