* {
    margin: 0;
    padding: 0;
}

/* Estilos para o body */
body {
font-family: 'Helvetica Neue', sans-serif;
font-size: 16px;
line-height: 1.5;
color: #333;
}

/* Estilos para o header */
header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 1rem;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
background-color: rgb(208, 191, 191);
}

.logo img {
max-height: 50px;
}

nav ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}

nav li {
margin: 0 1rem;
}

nav a {
color: #333;
text-decoration: none;
font-weight: bold;
}

nav a:hover {
color: #aaa;
}

/* Estilos para a seção de destaque */
.imagem-destaque {
display: flex;
justify-content: center;
align-items: center;
background-image: url(https://png.pngtree.com/background/20210711/original/pngtree-website-background-image-red-mystery-picture-image_1146508.jpg);
background-size: cover;
height: 300px;
}

.imagem-destaque img {
max-width: 100%;
height: auto;
}

/* Estilos para a seção sobre */
.sobre {
padding: 2rem;
background-color: #f9f9f9;
text-align: center;
}

.sobre h2 {
margin-bottom: 1rem;
}

.sobre p {
margin-bottom: 0;
}

/* Estilos para a seção de serviços */
.servicos {
display: flex;
flex-wrap: wrap;
justify-content: space-around;
padding: 2rem;
background-color: #fff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.servicos h2 {
width: 100%;
text-align: center;
margin-bottom: 2rem;
}

.servicos li {
list-style: none;
margin-bottom: 1rem;
}

.servicos .row {
    display: flex;
    gap: 20px;
}

.servicos .row .img {
    height: 20px;
}

/* Estilos para a seção de galeria */
.galeria {

}

.galeria h2 {
width: 100%;
text-align: center;
margin-bottom: 2rem;
}

.galeria .row {
    display: flex;
}

.galeria .col {
    flex: 1;
    width: 33.3333%;
    position: relative;
}

.galeria .col img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.galeria .col:before {
    content: "";
    display: block;
    padding-top: 100%; 
}

/* Estilos para o footer */
footer {
background-color: #333;
color: #ffff;
padding: 2rem;
display: flex;
justify-content: space-between;
align-items: center;
}

.contato form {
display: flex;
flex-direction: column;
}

.contato label {
margin-bottom: 0.5rem;
}

.contato input,
.contato textarea {
padding: 0.5rem;
border-radius: 0.25rem;
border: none;
margin-bottom: 1rem;
}

.contato input[type="submit"] {
background-color: #fff;
color: #333;
font-weight: bold;
}